<li class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="Admin" class="img-circle"/>
                        </span>

    <div class="chat-body clearfix">
        <div class="header">
            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{ message.time }}</small>
            <strong class="pull-right primary-font">Admin</strong>
        </div>
        <p>
            {{ message.text }}
        </p>
    </div>
</li>