<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
    <title></title>
</head>
<body style="margin:0">

    <div style="max-width: 600px;width: 100%;height: auto;margin: 0 auto;font-family: arial;">
        <div style="background-color: #233c53;text-align: center;padding: 10px;">
            <img src="http://betgame.co.uk/images/logo-mail.png" alt="logo" />
        </div>
        <div style="background-color: #f4f4f6;color: #757575;padding: 50px 40px 50px 10px;font-size: 14px;">
{content}
			<br/><br />
			<div>With kind regards, </div>
			<div>BetGame team.</div>
			<br/>
			<div>You can unsubscribe from BetGame email notifications <a href="http://betgame.co.uk/unsubscribe.html">here</a>.</div>
        </div>
        <!--div style="color: #757575;text-align: center;font-size: 14px;">
            2015 BetGame LTD. All rights reserved
        </div-->
    </div>

</body>
</html>
